ENVIRONMENT=local

ALLOWED_ORIGINS=http://localhost:3000

OPENAI_API_KEY=
API_KEY=

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="al-demo"

GOOGLE_CLOUD_PROJECT=al-demo-9f7a9

FIREBASE_STORAGE_BUCKET=
FIREBASE_SERVICE_ACCOUNT_PATH=./al-demo-9f7a9-94e81b5fc126-service-account.json

CLOUD_RUN_SERVICE_URL=

CLOUD_TASKS_LOCATION=europe-west1
CLOUD_TASKS_EXTRACTION_QUEUE=extraction-queue
CLOUD_TASKS_SERVICE_ACCOUNT_EMAIL=