ENVIRONMENT=dev

ALLOWED_ORIGINS=http://localhost:3000

FIREBASE_STORAGE_BUCKET=
FIREBASE_SERVICE_ACCOUNT_PATH=./dev-firebase-adminsdk-service-account.json

OPENAI_API_KEY=
API_KEY=your-secret-api-key-for-workers

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="al-demo"